body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  background-color: #F2F4F7;
}
a {
  text-decoration: none;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.header {
  height: 2.1333rem;
  text-align: center;
  line-height: 2.1333rem;
  background-color: #fff;
  font-size: 0.9333rem;
  border-bottom: 0.0267rem solid #EAEAEA;
}
.s1 {
  background-color: #fff;
  padding-top: 1.1733rem;
}
.s1 .nav {
  display: flex;
  flex-wrap: wrap;
}
.s1 .nav .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
}
.s1 .nav .item img {
  width: 3.7067rem;
  height: 3.7067rem;
}
.s1 .nav .item span {
  font-size: 0.6667rem;
  color: #707070;
}
.s1 .nav .item:nth-child(-n+3) {
  margin-bottom: 1.8667rem;
}
.s1 .go {
  padding: 1.6rem 0.2667rem 1.1467rem 0.48rem;
}
.s2 {
  background-color: #fff;
  padding: 1.0667rem 0.64rem 0 0.5867rem;
  margin-top: 0.2667rem;
  height: 15.3333rem;
}
.s2 .s2_hd {
  display: flex;
  justify-content: space-between;
  height: 1.0133rem;
  line-height: 1.0133rem;
  margin-bottom: 0.9067rem;
}
.s2 .s2_hd h4 {
  margin: 0;
  font-size: 0.7467rem;
}
.s2 .s2_hd h4 img {
  display: inline-block;
  vertical-align: middle;
  width: 1.0133rem;
  height: 1.0133rem;
}
.s2 .s2_hd .more {
  font-size: 0.5867rem;
  color: #999999;
}
.s2 .s2_bd {
  position: relative;
}
.s2 .s2_bd .job {
  width: 14.4rem;
}
.s2 .s2_bd .job .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  flex-direction: column;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  transform: scale(0.8);
  opacity: 0.4;
}
.s2 .s2_bd .job .swiper-slide img {
  width: 9.0133rem;
  height: 10.0267rem;
}
.s2 .s2_bd .job .swiper-slide p {
  font-size: 0.6667rem;
  margin-top: 0.64rem;
}
.s2 .s2_bd .job .swiper-slide-active,
.s2 .s2_bd .job .swiper-slide-duplicate-active {
  transform: scale(1);
  z-index: 999;
  opacity: 1;
}
.s2 .s2_bd .swiper-button-prev,
.s2 .s2_bd .swiper-button-next {
  outline: none;
}
.s2 .s2_bd .swiper-button-prev:after,
.s2 .s2_bd .swiper-button-next:after {
  font-size: 1.066667rem;
  color: #333;
}
.s2 .s2_bd .study {
  padding: 0.2667rem;
}
.s2 .s2_bd .study .swiper-slide {
  background-color: #fff;
  border-radius: 0.266667rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  background: #fff;
  height: 9.0667rem;
}
.s2 .s2_bd .study .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.s2 .s2_bd .study .swiper-slide h5 {
  font-size: 0.69333rem;
  font-weight: 400;
  padding: 0 0.2667rem;
  margin: 0.5333rem 0;
}
.s2 .s2_bd .study .swiper-slide p {
  font-size: 0.6933rem;
  color: #FF4400;
}
.study_s2 {
  height: 16.3333rem;
}
.footer {
  display: flex;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #fff;
  height: 3.0133rem;
  z-index: 9999;
  border-top: 1px solid #ccc;
}
.footer .item {
  flex: 1;
  display: flex;
  padding-top: 0.5067rem;
  flex-direction: column;
  align-items: center;
}
.footer .item img {
  width: 1.04rem;
  height: 1.0933rem;
}
.footer .item p {
  margin-top: 0.2933rem;
  font-size: 0.5867rem;
  color: #666;
}
